@import url('https://fonts.googleapis.com/css2?family=Roboto');
@import url('https://fonts.cdnfonts.com/css/lacuna-regular');
@import url('https://fonts.cdnfonts.com/css/qlassik');

                

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: space-between;
    line-height: 1.5;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
    font-family: 'Qlassik Medium', sans-serif;
    /* font-size: 16px; */
    /* padding-bottom: 30px; */
    color: whitesmoke;
}

.button-container {
    position: relative;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

button {
    background-color: transparent;
    color: #fff;
    border: 5px solid #ff9900;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    font-family: 'Qlassik Medium', sans-serif;
    font-size: 1.5em;
}

button:active {
    background-color: #ff9900;
    color: black;
    border: 5px solid black;
    cursor: pointer;
}

.container {
    display: flex;
    /* max-width: 1100px; */
    /* margin: 0 auto; */
    padding: 20px 10px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: whitesmoke;
}

.navbar img {
    border-radius: 30px;
    width: 150px;
    height: auto;
}

.navbar img a {
    border-radius: 3px;
    width: 150px;
    height: auto;
}

.navbar a:hover {
    text-shadow: 0px 0px 5px black,
                0px 0px 20px black,
                0px 0px 30px white;
}

.navbar {
    background: linear-gradient(20deg, #ff9900, #ff6600);
    height: 60px;
    padding: 10px 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.navbar .container {
    align-items: flex-start;
    padding-top: 0;
}

.navbar ul {
    display: flex;
    font-size: 20px;
}

.navbar ul li {
    padding-left: 10px;
}

ul {
    list-style: none;
}

#big-hero-text {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 30px;
    background-color: #ffffff;
}

#big-hero-text p {
    background: linear-gradient(45deg, #ff6600, #ff9900);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: 'Lacuna regular', sans-serif;
    text-align: center;
    font-size: 5rem;
}

.hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-color: black;
    width: 100%;
}

.side-by-side {
    display: flex; /* Display these two side by side */
    align-items: center;
}


.hero p {
    text-align: left;
    font-size: 18px;
    font-family: 'Qlassik Medium', sans-serif;
}

/* .hero p:not(:last-child) {
    margin-bottom: 10px;
} */

.hero .hero-logo {
    max-width: 50%;
    border: none;
}

.hero img {
    max-width: 40%;
    height: auto;
    object-fit: cover;
    margin-right: 30px;
    border-radius: 30px;
    vertical-align: top;
    border: 5px double #c9c9c9;
}


.italic {
    font-family: 'Lacuna Italic', sans-serif;
}

.services .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

.services .container h1 {
    font-family: 'Lacuna regular', sans-serif;
    font-size: 4em;
    margin-top: 20px;
    color: black;
}

.boxes {
    /* justify-content: center; */
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 0 50px 20px 50px;
    
}

.box img {
    width: 700px;
    height: auto;
    border-radius: 30px;
    padding: 10px;
    justify-content: center;
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

.italicise-7 {
    font-family: 'Lacuna Italic', sans-serif;
}

.box {
    display: flex;
    background: linear-gradient(180deg, #ff6600, #ff8400);
    border-radius: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 90%;
    text-align: center;
    margin-top: 40px;
    border: 2px solid whitesmoke;
    min-width: min-content;
    box-shadow: 0 0 25px #ff6600;
}

.box h2 {
    font-size: 3em;
    font-family: 'Lacuna regular', sans-serif;
}

.box p {
    margin: 30px;
    font-size: 18px;
    flex-wrap: wrap;
}

.footer {
    display: flex;
    padding: 30px;
    padding-bottom: 30px;
    background-color: #c9c9c9;
    color: black;
    width: 100%;
}

.footer a {
    text-decoration: none;
    color: black;
    padding-bottom: 0;
}

.footer i {
    font-size: 2em;
    color: #3b5998;
}

.footer-right {
    display: flex;
    align-items: center;
    padding-right: 30px;
}

.cookie-banner {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: #333;
            color: white;
            padding: 10px;
            text-align: center;
}

.cookie-banner button {
            background-color: #ff9900;
            color: white;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
        }

@media (max-width: 600px) {
    html {
        
        max-width: 100%;
    }

    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    body {
        display: flex;
        flex-direction: column;
    }

    .navbar ul {
        display: none;
    }

    .navbar {
        background: transparent;
        position: static;
        top: 0;
        left: 0;
        width: 100%;
    }

    .hero .container {
        flex-direction: column;
        align-items: center;
        height: fit-content;
        max-width: 100%;
    }

    .hero p {
        text-align: center;
    }

    .hero h1 {
        font-size: 4em;
        max-width: 100%;
    }

    .services {
        display: none;
    }
    .hero img {
        /*width: 1000px; */
        max-width: 100%;
        height: 100%;
        margin-right: 0;
        margin-bottom: 20px;
        box-shadow: none;
        /* border-radius: 10px; */
        /* vertical-align: top; */
    }
    
}

.logo-text {
    font-family: 'Lacuna Regular', sans-serif;
    position: relative;
    text-decoration: underline;
    padding-right: 1em;
    margin-left: -1.5em;
    margin-top: -10px;
    padding-top: -10px;
    color: black;
    clear: both;
    display: block;
}

.logo-text::after {
    bottom: 0;
    color: #ff9900;
    content: '7';
    font-family: 'Lacuna Italic', sans-serif;
    position: absolute;
    transform: translate(-100%, 0);
}
.logo-text::before {
    color: #ff9900;
    content: '  ';
    border: 22px solid #ff9900;
    border-style: double;
    border-radius: 60%;
    /* Halve the circle */
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
    /* Rotate the circle */
    transform: rotate(0deg);
    display: inline-block;
    height: 0.8em;
    width: 0.8em;
    position: relative;
    transform: translate( 3em, 0.4em);
}

p.logo-text {
    border-width: 20px;
    color: black;
}

