@import url('https://fonts.googleapis.com/css2?family=Roboto');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: space-between;
    line-height: 1.5;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    /* font-size: 16px; */
    padding: 50px 30px;
    color: whitesmoke;
}

.container {
    display: flex;
    /* max-width: 1100px; */
    /* margin: 0 auto; */
    padding: 20px 30px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: whitesmoke;
}

.navbar img {
    border-radius: 3px;
    width: 150px;
    height: auto;
}

.navbar img a {
    border-radius: 3px;
    width: 150px;
    height: auto;
}

.navbar a:hover {
    text-shadow: 0px 0px 5px black,
                0px 0px 20px black,
                0px 0px 30px white;
}

.navbar {
    background: linear-gradient(20deg, #ff9900, #ff6600);
    height: 40px;
    padding: 10px 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.navbar .container {
    align-items: flex-start;
    padding-top: 0;
}

.navbar ul {
    display: flex;
    font-size: 20px;
}

.navbar ul li {
    padding-left: 10px;
}

ul {
    list-style: none;
}

#big-hero-text {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

#big-hero-text h1 {
    background: linear-gradient(45deg, #ff6600, #ff9900);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0 0 500px #ff8400
}

.hero .container {
    display: flex;
    align-items: flex-start;
    padding-top: 20px;
    align-items: center;
    height: 100vh;

}

.hero h1 {
    text-align: center;
    font-size: 5rem;
}

.hero p {
    text-align: left;
    font-size: 18px;
}

.hero p:not(:last-child) {
    margin-bottom: 10px;
}

.hero img {
    max-width: 40%;
    height: auto;
    margin-right: 30px;
    border-radius: 30px;
    vertical-align: top;
    box-shadow: 0 0 100px #ff6600;
}

.services .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

.services .container h1 {
    font-size: 4em;
    margin-top: 20px;
}

.boxes {
    /* justify-content: center; */
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
}

.box img {
    width: 700px;
    height: auto;
    border-radius: 30px;
    padding: 10px;
    justify-content: center;
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.box {
    display: flex;
    background: linear-gradient(180deg, #ff6600, #ff8400);
    border-radius: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 90%;
    text-align: center;
    margin-top: 40px;
    border: 2px solid whitesmoke;
    min-width: min-content;
    box-shadow: 0 0 25px #ff6600;
}

.box h2 {
    font-size: 3em;
}

.box p {
    margin: 30px;
    font-size: 18px;
    flex-wrap: wrap;
}

.footer {
    padding: 30px;
    padding-bottom: 30px;
    background-color: #c9c9c9;
    color: black;
    border-radius: 20px;
}

.footer a {
    text-decoration: none;
    color: black;
}

@media (max-width: 600px) {
    html {
        
        max-width: 100%;
    }

    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    body {
        display: flex;
        flex-direction: column;
    }

    .navbar ul {
        display: none;
    }

    .navbar {
        background: transparent;
        position: static;
        top: 0;
        left: 0;
        width: 100%;
    }

    .navbar img {
    }

    .hero .container {
        flex-direction: column;
        align-items: center;
        height: fit-content;
        max-width: 100%;
    }

    .hero p {
        text-align: center;
    }

    .hero h1 {
        font-size: 4em;
        max-width: 100%;
    }

    .services {
        display: none;
    }
    .hero img {
        /*width: 1000px; */
        max-width: 100%;
        height: 100%;
        margin-right: 0;
        margin-bottom: 20px;
        box-shadow: none;
        /* border-radius: 10px; */
        /* vertical-align: top; */
    }
    .footer {

    }
    
}